.banner{
/*  background-image: url('img/queuecolor.jpg');*/
  background-color: #FC575A;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 300;
  font-size: 25px;
  height: 700px;
}

.banner h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 10rem;
  font-weight: bold;
  color: #FC575A;
  text-shadow: 1px 1px 0.8px #292929;
}

.feature h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.banner p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
/*  text-shadow: 1px 1px 1px #292929;
*/  color: white;
}

#form-display {
  margin-bottom: 80px;
}

.monbouton {
  background-color : #FC575A;
  color : white;
  border: 2px solid white;
}

.monbouton:hover {
  background-color: #FC575A;
  border-color: white;
}

.monbouton:visited {
  background-color: #FC575A;
  border-color: white;
}

.monbouton:active {
  background-color: #FC575A;
  border-color: white;
}

.monbouton:focus {
  background-color: #FC575A;
  border-color: white;
}

#mynav {
  border-bottom: none;
  background: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.maison {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

#footer{
  background: none;
  color: #cdcdcd;
  height: 80px;
  padding-top: 10px;
}

.black-bg{
  background-color: white;
  background-image: url('img/bgimage.png');
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
}

#definition {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

#definition p {
  color: white;
}

#sentence {
  font-size: 24px;
  margin-top: 20px;
  color: white;
}

#exclu {
  color: white;
}

#space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature {
  background: white;
  font-weight: 100;
  background-color: #FC575A;
  padding: 20px;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  margin: auto;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 400;
}

.feature img{
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.feature p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: none;
  font-weight: normal;
  font-size: 14px;
}

#conclusion {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

#conclusion p {
  font-size: 25px;
  color: white;
}

.fa-3x {
  color:  white;
}

.fa {
  color : white;
  margin-top: 10px;
  padding : 10px;
  border: 2px solid white;
  background-color: #FC575A;
}

.photo {
  height : 300px;
  width: 300px;
}

.sq {
  background-color: #FC575A;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 90px;
}


@media screen and (max-width: 500px) {
  .banner h1 {
    font-size: 6rem;
  }
  .monbouton {
    margin-top: 10px;
  }
}